@media screen and (min-width: 1200px) {
  /*  --------------------------------------------------------------- [CONTAINERS] ----------------------------------------------------------------- */

  .container,
  .customers-container,
  .footer-container,
  .container-mini {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header-container {
    max-width: 1158px;
  }

  .footer-container {
    column-gap: 0;
    row-gap: 0;
  }

  .section {
  padding: 120px 0;
  }

  /* ===================================================================== HEADER ====================================================================== */

  .header {
    border-bottom: 1px solid var(--borders-main-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-container {
    justify-content: start;
  }

  .header-menu {
    display: flex;
    gap: 40px;
    margin-left: 76px;
  }

  .header-menu-link {
    padding-bottom: 28px;
  }

  .header-address {
    margin-left: auto;
  }

  .header-contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .tel {
    position: static;
  }

  /* ==================================================================== MAIN PAGE / [HERO SECTION] ==================================================================== */
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* ================================================================== MAIN PAGE / SERVICES SECTION =================================================================== */

  .services-section {
    display: block;
    padding-top: 0;
    padding-bottom: 120px;
  }

  .service-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .service-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* ================================================================= MAIN PAGE / ADVANTAGES SECTION ================================================================== */


  .advantage-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantage-image {
    display: block;
    background-color: var(--advantage-icons-bg-color);
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .advantage-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .advantage-description {
    font-weight: 400;
  }

  /* ==================================================================== MAIN PAGE / TEAM SECTION ===================================================================== */
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-member-card {
    width: calc((100% - 3 * 24px) / 4);
  }

  /* ================================================================= MAIN PAGE / CUSTOMERS SECTION ================================================================== */

  .customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customer-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  /* ================================================================ PORTFOLIO PAGE / PORTFOLIO SECTION ================================================================= */
  .project-card {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* ============================================================================= FOOTER ================================================================================ */

  /*  ------------------- [FOOTER LEFT PART] ------------------ */

  .left-footer-part-container {
    margin-right: 120px;
  }

  /*  ------------------ [FOOTER SIGN-UP FORM] ------------------ */

  .footer-subscription-field {
    margin-left: auto;
  }
  /* ======================================================================== MODAL WINDOW =========================================================================== */
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%);
  }
}
